.nav {
    color: aliceblue;
    justify-content: space-between;
    align-items: center;
    display: flex;
    gap: 2rem;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.info {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #071108;
    border-radius: 15px;
    border-width: 1px;
    background-color: #f9f9f9;
}

.infoField {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.infoInput {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttonBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-sizing: border-box;
}

.saveButton, .cancelButton {
    flex: 1;
    display: flex;
    justify-content: center;
}

.saveButton {
    margin-right: 10px;
}

.cancelButton {
    margin-left: 10px;
}